#small{
  font-size: 100%;
  width: calc(100% - 20px);
  float: left;
  padding: 10px;
  box-sizing: border-box;
}

#medium{
  font-size: 100%;
  float: left;
  width: calc(100% - 20px);
  padding: 10px;
  box-sizing: border-box;
}

#large{
  font-size: 100%;
  width: calc(100% - 20px);
  padding: 10px;
  box-sizing: border-box;
}

@media only screen and (max-width: 300px) {
  #body {
    background-color: red;
  }
  div#small{
    font-size: 150%;
  }
  div#medium {
    box-sizing: border-box;
  }
  div#large {
    box-sizing: border-box;
  }
}

@media only screen and (min-width: 300px) and (max-width: 768px){
  #body {
    background-color: green;
  }
  div#small {
    box-sizing: border-box;
    width: 66%;
  }
  div#medium{
    box-sizing: border-box;
    width: 34%;
    font-size: 150%;
  }
  div#large {
    box-sizing: border-box;
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  #body {
    background-color: blue;
  }
  div#small {
    display: inline-block;    width: 33%;
  }
  div#medium {
    display: inline-block;    width: 33%;
  }
  div#large {
    display: inline-block;    width: 33%;
    font-size: 150%;
  }
}
